/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Encode+Sans+SC:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Generic project styles */
    background-color: #ffffff;
    font-family: 'Barriecito', sans-serif;
}

/* Header */
h1 {
    font-family: 'Barriecito', sans-serif;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #2E294E;
    margin: 20px 0 30px 0;
}

/* Body content */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #E71D36;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
}

.card.flipped {
    background-color: #2E294E;
}

/* Feat container general styles */

#feat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* How to play button */
#rules-button {
    background-color: #F2E94E;
    color: #000000;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Barriecito', sans-serif;
    font-size: 16px;
    margin: 20px 0;
}

#popupText {
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
    width: 60%;
    min-width: 200px;
    border-radius: 8px;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 1rem;
    display: none;
}

#popupText p, li {
    margin-left: 2rem;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    h1 {
        display: block;
        position: relative;
        width: fit-content;
    }
}

/* Media query: laptops and larger (1020px and up) */
@media screen and (min-width: 1020px) {

    /* Header */
    h1 {
        display: block;
        position: relative;
        width: fit-content;
    }


}