/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Encode+Sans+SC:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Generic project styles */
    background-color: #ffffff;
    font-family: 'Barriecito', sans-serif;
}

/* Header */
h1 {
    font-family: 'Barriecito', sans-serif;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #2e294e;
    margin: 20px 0 30px 0;
}

/* Body content */
h2 {
    text-align: center;
    margin: 3px 0 3px 0;
}

#game-and-feat h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.card {
    background-color: #E71D36;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
}

.card.flipped {
    background-color: #2E294E;
}

/* Feat container general styles */

#feat-container {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

/* How to play button */
#howToPlayButton {
    background-color: #F2E94E;
    color: #000000;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Barriecito', sans-serif;
    font-size: 16px;
    margin: 20px 0;
}

#muteButton {
    font-size: 2rem;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

/* General modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 0%, 0.5);
    align-items: center;
}

/* Modal content */
.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2E94E;
    margin: auto;
    padding: 10px;
    width: 60%;
    min-width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    position: relative;
}

.modal-content p,
li {
    margin-left: 2rem;
}

#howToPlayModal {
    text-align: left;
}

#winnerModal #gameOverModal h2 {
    font-family: 'Barriecito', sans-serif;
}

#playAgainButton #tryAgainButton {
    font-family: 'Barriecito', sans-serif;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Modal button */
.modal button {
    background-color: #218838;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.modal button:hover {
    background-color: #218838;
}

/* Media query: tablets or phones (600px and down) */
@media screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(4, 70px);
        gap: 6px;
    }

    .card {
        font-size: 1.6em;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    h1 {
        display: block;
        position: relative;
        width: fit-content;
    }

    /* Game grid */
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(4, 100px);
        gap: 10px; 
    }


    .card {
        font-size: 2.2em; 
    }
}

/* Media query: desktop (1600px and up) */
@media screen and (min-width: 1600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 120px);
        grid-template-rows: repeat(4, 120px);
        gap: 12px; 
    }

    .card {
        font-size: 2.5em; 
    }
}